{
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true,
	"endOfLine": "auto",
	"printWidth": 140,
	"semi": false,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": ["classProperties", "decorators-legacy", "typescript", "jsx"],
	"importOrder": ["<THIRD_PARTY_MODULES>", "@core/(.*)$", "@libs/(.*)$", "@shared/(.*)$", "@api/(.*)$", "@/(.*)$", "^../(.*)$", "^./(.*)$"],
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.tsx",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
